#card-body {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    display: inline-flex;
}

#card-content {
    background-color: red;
    opacity: 0%;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    overflow-wrap: break-word;
    text-align: left;
}

@media only screen and (max-width: 700px) {
    #card-body {
    }

    #card-content {
        opacity: 100%;
    }

    #card-body h3 {
        background-color: red;
    }
}

@media only screen and (min-width: 700px) {
    #card-content:hover {
        opacity: 100%;
    }

}

@media only screen and (min-width: 1000px) {
    #card-body {
    }
}