#card-body {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    display: inline-flex;
}
#card-body a {
    color: black;
    text-decoration: none;
}

#card-content {
    opacity: 0%;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    overflow-wrap: break-word;
    text-align: left;
}

@media only screen and (max-width: 700px) {

    #card-content {
        opacity: 100%;
    }

    #card-body h3 {
        background-color: #ffcb85;
        padding-top: 0;
    }

    #card-body p {
        visibility: hidden;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
    #card-content {
        opacity: 100%;
    }

    #card-body h3 {
        background-color: #ffcb85;
        padding-top: 0;
    }

    #card-body p {
        opacity: 0%;
    }

}

@media only screen and (min-width: 1000px) {
    #card-content {
        opacity: 0%;
    }
    #card-content:hover {
        background-color: #ffcb85;
        opacity: 100%;
    }

    #card-body:hover {
        opacity: 100%;
    }
}