#AviPortrait {
    background-color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 200px;
    height: 200px;
}

#AviImg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
}