@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nanum+Myeongjo&family=Roboto:wght@300&display=swap');

@media only screen and (max-width: 700px) {
	body {
	}
}

* { margin: 0; padding: 0;}

html, body {
	width: 100%;
}

body {
	padding: 0;
	margin: 0;
	display: grid;
	background-attachment: fixed;
}

h1 {
	font-family: 'Nanum Myeongjo', serif;
	font-weight: 400;
	font-size: 2.5rem;
}

h2 {
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	font-size: 2rem;
}

h3 {
	font-family: 'Bebas Neue', cursive;
	font-weight: 200;
	font-size: 2rem;
}

h4 {
	font-family: 'Nanum Myeongjo', serif;
}

p {
	font-family: 'Roboto', sans-serif;
}

.anchor {
	position: relative;
	top: -215px;
}