#home-div button {
    margin: 0 5% 0 5%;
}

#icp {
    margin: 25px 0 0 0;
    height:200px;
    width: 100%;
    background-image: url("../../images/icp.jpg");
    background-position: center;
    background-size: cover;
}

#snippet {
    margin: 25px 0 0 0;
    height:200px;
    width: 100%;
    background-image: url("../../images/snippet.jpg");
    background-position:center;
    background-size: cover;
}
